/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
**/vendor
**/public/images
**/public/document
**/public/policies
**/storage/logs
**/cred.php
cred.php
**/HashFolder
.env
.env.*
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
